[Unit]
Description=Audio Black magic thingy
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=exec
ExecStart=easyeffects --gapplication-service
Restart=on-failure
Slice=background-graphical.slice

