[Unit]
Description=Thunar Daemon
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target


[Service]
Type=exec
ExecStart=thunar --daemon
Restart=on-failure
Slice=background-graphical.slice
