[Unit]
Description=Automounter for removable media
Documentation=man:udiskie(1)
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
Type=exec
ExecStart=udiskie
Restart=on-failure
Slice=background-graphical.slice
