@theme "github-dark-dimmed"
configuration {
  modes: [drun, ssh, "wallpapers:~/.config/scripts/switchwallpaper", "power:rofi-power-menu"];
  show-icons: true;
  terminal: "ghostty";

  ssh-client: "ssh";
  ssh-command: "{terminal} -e {ssh-client} {host} [-p {port}]";

  icon-theme: "Oranchelo";
  durn-display-format: "{icon} {name}";
  location: 0;
  disable-history: false;
  hide-scrollbar: true;

  display-drun: "Apps";
  display-wallpapers: "Wallpapers";
  display-ssh: "SSH";

  sidebar-mode: true;

  steal-focus: false;

  cache-dir: "~/.cache/rofi/";

  //run-command: "systemd-run --user -- {cmd}";
  run-command: "uwsm app -- {cmd}";

  pid: "/run/user/1000/rofi.pid";
  replace: true;


  timeout {
      action: "kb-cancel";
      delay: 30;
  }
}

